#MiMapa2/secrets.properties
#MiMapa2/local.properties

# --- IDEs y Editores ---
.idea/
*.iml
.vscode/
*.swp
*.patch
.DS_Store
Thumbs.db

# --- Android / Kotlin (MiMapa2) ---
**/build/
**/.gradle/
**/captures/
**/local.properties
**/secrets.properties
**/Generated?Resources.java
*.ap_
*.apk
*.dex

# --- Spring Boot / Java (bus-map-api) ---
**/target/
**/*.log
**/help.md
.mvn/wrapper/maven-wrapper.jar
bus-map-api/src/main/resources/

# --- Docker & Entorno ---
.env
docker_volume/
**/.temp/

# --- Otros ---
bin/
out/
.externalNativeBuild
.cxx